.course-content{
    .card{
    height: 700px;
    border: 0px;

    .card-content{
        height: 700px;
        .ifrane-video{
            height: 100%;
            width: 100%;
        }
    }
}

    .content-list{
        
    }
}