<% if flash[:notice]%>
<div class="alert alert-info col-3" role="alert">
 <%= flash[:notice]%>
</div>
<% end %>

<% if flash[:alert]%>
<div class="alert alert-danger col-3" role="alert">
 <%= flash[:alert]%>
</div>
<% end %>