<!DOCTYPE html>
<html>
<head>
  <title>React in Rails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>
  <div id="root"></div>
</body>
</html>
